<div class="long-text">
<h4 class="text-center">
	Jake Clement
</h4>
<div class="row">
	<div class="col-xs-6">
	<p class = "long-text">
	I have been welding and working with metal for the past decade, working on everything from knife blades to nuclear weapon components. I can draw up a model of a component in SolidWorks and take it every step of the way through to a finished product. I am passionate about my work, and most importantly my focus is to provide you with excellent service and an immaculate end product!
	</p>
	</div>
	<div class="col-xs-6 text-right">
		<%= image_tag "bae_logo.png", width: 150, alt: "Bearded Anvil Enterprises logo", class: 'prof-img' %>
	</div>
</div>

<h4 class="text-center">
	Ben Clement
</h4>
<div class="row">

	<div class="col-xs-6 text-left">
		<%= image_tag "bae_logo.png", width: 150, alt: "Bearded Anvil Enterprises logo", class: 'prof-img' %>
	</div>

	<div class="col-xs-6">
	<p>
	I have been welding and working with metal for the past decade, working on everything from knife blades to nuclear weapon components. I can draw up a model of a component in SolidWorks and take it every step of the way through to a finished product. I am passionate about my work, and most importantly my focus is to provide you with excellent service and an immaculate end product!
	</p>
	</div>
</div>

</div>