<form>
  <div class="form-group">
    <label for="email">Email address</label>
    <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email">
    <small id="email-help" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="name">Full Name</label>
    <input type="string" class="form-control" id="name" placeholder="Enter name">
  </div>
  <div class="form-group">
    <label for="service-select">Service you are interested in</label>
    <select class="form-control" id="exampleSelect1">
      <option>Custom Knife</option>
      <option>Other thingy</option>
      <option>Multiple/Other</option>
    </select>
  </div>
  <div class="form-group">
    <label for="body">Example textarea</label>
    <textarea class="form-control" id="body" rows="3"></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>