<div class="text-center">
	&copy; Bearded Anvil Enterprises | (123)-456-7890 |  <a href="https://instagram.com"><%= fa_icon "instagram" %></a> / <a href="https://facebook.com"><%= fa_icon "facebook" %></a> / <a href="https://twitter.com"><%= fa_icon "twitter" %></a> | Website designed by <a href="https://pg-portfolio.herokuapp.com" target="_blank">Paul Gibbs</a>
</div>