<div class="text-center">
	&copy; Bearded Anvil Enterprises | (435)-630-6200 |  <a href="https://www.instagram.com/bearded_anvil_forge/"><%= fa_icon "instagram" %></a> / <%= fa_icon "facebook" %> | Website designed by <a href="https://pg-portfolio.herokuapp.com" target="_blank">Paul Gibbs</a>
</div>