<div class="container-fluid">
	<div class="row">
		<div class="col-md-7">
			<div class = "well long-p">

				<h1 class = "text-center">About Us</h1>
				<p>
					Founded in 2018 by Jake Clement, Bearded Anvil Enterprises is a family owned metal working business. Our mission is to provide our customers with the best quality metal works possible. Part of the magic behind a small family owned business is the attention to detail that each job recieves as it moves through our shop. Your project will be nurtured through each step of the process, no matter what the nature of the work. Whether we are fitting up and welding a prototype for your new product, or meticulously hand crafting a knife blade to your exact specifications, you can rest assured that it is being monitored every step of the way by a qualified professional who cares.
				</p>
				<hr>
				<h1 class = "text-center">Our Team</h1>
				<p>
					<%= render "/shared/carousel" %>
				</p>
			</div>
		</div>

		<div class="col-md-5">
			<div class = "well text-center">
				<%= image_tag "bae_logo.png", width: 300, alt: "Bearded Anvil Enterprises logo", class: 'logo-img' %>
			</div>
		</div>
	</div>

</div>
<br/>