<div class="container-fluid">
	<div class="col-md-6">
		<div class = "jumbotron well">
			<div class = "card-block">
				<h2 class = "card-title">Contact Us</h2>
				<p class="card-text">
					Available Monday - Friday, 9am - 5pm MST
					<br/>
					<br/>
					Call us at: (435)-630-6200
					<br/>
					Email us at: business_email@example.com 
					<br/>

					<hr/>
					or fill out the form below
					<br/>
					<%= render "shared/contact_form"%>
				</p>
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<div class = "well">
			<div class = "card-block">
				<p>Address: 1605 E 8900 S, Price, UT, 84501</p>
				<div class = "google-map">

					<p>
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3079.9272401674016!2d-110.78765368466763!3d39.47097242053524!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x874eb6bda3cc04f5%3A0xc6ed6843f472ed43!2s1605+E+8900+S%2C+Price%2C+UT+84501!5e0!3m2!1sen!2sus!4v1518729010105" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
<br/>