    <script src="jquery.min.js"></script>
    <script src="instafeed.min.js"></script>
    <script src="magnific.min.js"></script>
    <script src="custom.js"></script>

<div class="container">
	<div class = "well">
		<div id="instafeed" class="row gallery"></div>
	</div>
</div>