<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<%= render "shared/nav"%>

			<div class="jumbotron well">
				<div class = "home-text">
					<h1 class = "text-center">Bearded Anvil Enterprises</h1>
					<p class = "text-center">Well Done Welds</p>
				</div>
			</div>

			<div class = "well">
				<div class = "video-container text-center">
					<iframe width="500" height="400" src="https://www.youtube.com/embed/hg14Ocs03xA?autoplay=1">
					</iframe>
				</div>
			</div>
		</div>
	</div>
</div>