<%= video_tag(
  'home_vid.webm',
  'home_vid.mp4',
  id: "background",
  autoplay: true,
  loop: true,
  muted: true,
  poster: 'home_vid_still.jpg'
  )
  %>

<div class = "home-bg">
		<h1 class = "text-center">Bearded Anvil Enterprises <%= image_tag "bae_logo.png", width: 150, alt: "Bearded Anvil Enterprises logo", class: 'logo-img' %></h1>

		<h3 class = "text-center">Well Done Welds</h3>
</div>
 
