<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class = "well">
				<h1 class = "text-center">Services</h1>
				<p>Welding: Our specialty is precision tungsten inert gas (TIG) welding. Send us your aluminum and stainless steel jobs! We also have Shielded Metal Arc Welding (SMAW a.k.a. stick welding) equipment, and Metal Inert Gas (MIG) welding capability. We are every bit as capable with mild steel, so don't hesitate to send any of your welding projects to Bearded Anvil Enterprises. We have a welding engineer on site and combined welding/fitting experience of over 40 years.</p>
				<p>
				Forging: I have a 300lb anvil and two burner propane forge. We will hand forge any item that we can fit in the forge, and we are soon going to upgrade to a large coke forge to accomodate bigger projects! Whether you are after a custom knife, tomahawk, hand forged nails, custom firepokers, decorative handrails, or a even a chandelier we would be happy to be the craftsmen to create something unique and special just for you! 
				</p>
				<p>
				Machining: We have a Taig 3 axis CNC mill with a build envelope of 9.5"x5.5"x6". We also have a 10"x22" lathe. We have experience machining stainless steels, hot work tool steels, brass, copper, aluminum, and more. 
				</p>
				<p>
				Heat treating: We have a heat treat oven capable of reaching 2300° F with an internal size of 13"x13"x13". Our metallurgy background can help you harden and temper your steels for your next hot work project, or for protoyping your next widget.
				</p>
				<p>
				Computer Aided Design (CAD): We have a seat of SolidWorks and we can help you design, and build almost anything you can imagine. We can do a design build utilizing any of the above capabilities. Let us help you bring a product to life using 3D modeling to make sure everything turns out exactly how you envisioned it!
				</p>
				<p>
				Woodworking: We can create hand-crafted woodworking projects for you as well. If you are tired of the particle board furniture that is the new standard and you would like to instead have hand-hewn timbers with hand forged metal accents then you have come to the right place! Bearded Anvil Enterprises has what it takes to make you custom one-of-a-kind creations to your exact specifications!
				</p>
			</div>
		</div>
		<div class="col-md-12">
			<div class = "well">
				<div class = "quote-button">
					<a class = "btn btn-primary btn-lg" href="/contact" role="button">
						Get a free quote!
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
<br/>